name: PR Checks

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    services:
      minio:
        image: minio/minio
        ports:
          - 9000:9000
        options: >-
          --user root
          --health-cmd "mc ready local"
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
    steps:
      - uses: actions/checkout@v4
      
      - name: Wait for MinIO service to be ready
        run: |
          curl -f http://localhost:9000/minio/health/live || exit 1
          # Alternatively, use the 'mc' command with a setup action
          # uses: hostwithquantum/setup-mc@v1
          # run: mc ready local
        
      - name: Configure MinIO client and create a bucket
        run: |
          mc alias set local http://localhost:9000 minioadmin minioadmin
          mc mb local/test-bucket
          mc ls local
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./...

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.7.2

  security:
    name: Security checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Run govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
